body{
    color: #FFF;
}

header{
    min-height: 75px;
    background: #2c3e50;
    border: 1px solid #DC143C;
}

header .menu{
    float: right;
    list-style: none;
    margin-right: 50px;
}

header .menu li {
    display: inline-block;
    margin-right: 15px;
}

header .menu li:hover{
    background: none;
}

header .menu a{
    color: #FFF;
}

header .menu a.is-active{
    color: #18bc9c;
}

header .menu a:hover{
    color: #18bc9c;
    text-decoration: none;
}

main .main-wrapper{
    background: #18bc9c;
    min-height: 500px !important;
    border: 1px solid #DC143C;
}

main .sidebar{
    background: #fcf5cb;
    height: 100%;
    position: relative;
    min-height: 500px;
    color: #000;
    border: 1px solid #DC143C;
}

ul.tabs{
    background: #FFF;
    border: 1px solid black;
    margin: 0;
}

.post-content{
    min-height: 400px;
    color: #000;
    border: 1px solid #DC143C;
}

footer{
    min-height: 75px;
    background: #2c3e50;
    border: 1px solid #DC143C;
}