body{
    color: #FFF;
}

header{
    min-height: 75px;
    background: #2c3e50;
    border: 1px solid #DC143C;
}

header .menu{
    float: right;
    list-style: none;
    margin-right: 50px;
}

header .menu li {
    display: inline-block;
    margin-right: 15px;
}

main .main-wrapper{
    background: #18bc9c;
    min-height: 500px !important;
    border: 1px solid #DC143C;
}

main .sidebar{
    background: #fcf5cb;
    height: 100%;
    position: relative;
    min-height: 500px;
    color: #000;
    border: 1px solid #DC143C;
}

.post-content{
    min-height: 400px;
    color: #000;
    border: 1px solid #DC143C;
}

footer{
    min-height: 75px;
    background: #2c3e50;
    border: 1px solid #DC143C;
}